body { display:flex; justify-content:center; margin-top:50px; font-family:Arial;}
.calculator { width:260px; border:2px solid #333; padding:10px;}
#display { width:100%; height:40px; margin-bottom:10px; font-size:18px;}
.buttons { display:grid; grid-template-columns:repeat(4,1fr); gap:5px;}
button { padding:15px; font-size:16px; cursor:pointer;}
.zero { grid-column: span 2; }
